
@{
    ViewData["Title"] = "Index";
}

<h2>Bem vindo!</h2>
<br />
<p>O objetivo desta solução é estudar o ASP.NET CORE utilizando de Razor e de outras ferramentas, como o Ajax por exemplo.</p>
<br />
<p>Cada aplicação está representada no NavBar acima</p>
